IDENTIFIERS

Are the fundamental building block of a program and are used as the general terminology for the names given to diffrent parts of the program viz variables,objects,classes,functions,list,dictionaries etc

In [2]:
name=' lakshmi'
x = 10
y=9
z=9
Myfile="DATE9_9_7_777"
MyFile='_AI'
CSK='FILE13'
Z2T0Z9='HJU_UJH3'

TO DELETE ONE COLUMNS

In [3]:
del name # delete variable name

ONLY UNDERSCORE CAN BE USED AS A SPECIAL CHARACTER FROM WHICH A IDENTIFIER CAN BEGIN

In [4]:
_='mai'

## operator
. arithmetic operator
.assignment operator

##operator
.arithmetic operator- .assignment operator- .comparison operator- .logical operator-

In [5]:
x+y

19

In [6]:
print(x+y)
print(x-y)
print(x*y)
print(x/y) #flot division
print(x//y) #integer division
print(x%y) #remainder
print(x**y) #exponentiation (power)

19
1
90
1.1111111111111112
1
1
1000000000

In [7]:
a=x+y #assignment
a += 1 # a= a + 1
a -= 1 # a = a - 1
a *= 1 # a = a * 1
a /= 1 # a = a / 1
print(a)

19.0

In [8]:
'paa'

'paa'

comparision operator

In [9]:
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)
print(x==y)
print(x!=y)

True
False
True
False
False
True

CONDITIONAL STATEMENTS

In [10]:
# and ,or,not
x<y or y<10

True

In [11]:
not x > y

False

In [12]:
fruits=['Apple','banana','cherry']
print('Apple' in fruits)
print('banana' in fruits)
print('grapes' in fruits)
print('Cherry' in fruits)

True
True
False
False

In [13]:
f=['Apple','banana','cherry']

In [14]:
fruits==f

True

In [15]:
fruits is f

False

In [16]:
x = 10
y = 10
print(x == y)
print(y==x)

True
True

I/O

In [17]:
name = input('enter your name:')

In [18]:
city = input("enter ur city:")
age = input("enter ur age:")
print(name,city,age)

lakshmi gkp 20

In [19]:
x = 10
print(type(x))
#convert x to float
x = float(x)
#convert x to float and assign it to x
print(x,type(x))
#convert x to string
x = str(x)
print(x,type(x))
#convert to boolean
x = bool(x)
print(x,type(x))
x=str(x)
print(x,type(x))
#x = int(x)# ye nhi hoga
print(x,type(x))

<class 'int'>
10.0 <class 'float'>
10.0 <class 'str'>
True <class 'bool'>
True <class 'str'>
True <class 'str'>

In [20]:
x = int(input('enter a number for A:  '))
Y = int(input('enter a number for B:'))
print(x + y)

30

In [21]:
print(name)

lakshmi

In [22]:
print(name, age, city, sep=',')

lakshmi,20,gkp

In [23]:
print(x)
print(y)

20
10

In [24]:
print(x, end=' ')
print(y)

20 10

In [25]:
'I live in {city}'

'I live in {city}'

In [26]:
f'I live in {city}'

'I live in gkp'

In [27]:
print(f'I live in {city}')

I live in gkp

In [28]:
print(f'x={x},y={y}')
print(f'x**y => {x**y}')
print(f'x+y=> {x+y}')

x=20,y=10
x**y => 10240000000000
x+y=> 30

In [29]:
print(f'{name}{len(name)}')
print(f'{name}{len(name)}')

lakshmi7
lakshmi7

In [30]:
print(f'{name:20}{len(name)}')
print(f'{city:20}{len(city)}')

lakshmi             7
gkp                 3