In [3]:
raju=[56,90,34,34,56]
raju_dict={
    'english':56,
    'hindi':90,
    'maths':34,
    'chem':34,
    'evs':56
}
print(raju_dict)

{'english': 56, 'hindi': 90, 'maths': 34, 'chem': 34, 'evs': 56}

In [4]:
university={
    'stu001':{
        'name':"'lakshmi priya",
        'designation':"Student",
        'Salary':"None"
    },
    'stu002':{
        'name':'Rinni singh',
        'designation':"student",
        'salary':'none'

    },
    'total_stu':2,
    'department':'education',
    'vacancy':['computer department','financial','sports']
}

In [5]:
university

{'stu001': {'name': "'lakshmi priya",
  'designation': 'Student',
  'Salary': 'None'},
 'stu002': {'name': 'Rinni singh', 'designation': 'student', 'salary': 'none'},
 'total_stu': 2,
 'department': 'education',
 'vacancy': ['computer department', 'financial', 'sports']}

In [6]:
university['name']='Shri ramswroop'
# iss line se hamare distionary me key ya value add hojayegi
print(university)

{'stu001': {'name': "'lakshmi priya", 'designation': 'Student', 'Salary': 'None'}, 'stu002': {'name': 'Rinni singh', 'designation': 'student', 'salary': 'none'}, 'total_stu': 2, 'department': 'education', 'vacancy': ['computer department', 'financial', 'sports'], 'name': 'Shri ramswroop'}

In [7]:
university['total_stu']=10
university['stu003']={
    'name':'Aakarsh singh',
    'designation':'student',
    'salary':'none'
}

In [8]:
university

{'stu001': {'name': "'lakshmi priya",
  'designation': 'Student',
  'Salary': 'None'},
 'stu002': {'name': 'Rinni singh', 'designation': 'student', 'salary': 'none'},
 'total_stu': 10,
 'department': 'education',
 'vacancy': ['computer department', 'financial', 'sports'],
 'name': 'Shri ramswroop',
 'stu003': {'name': 'Aakarsh singh',
  'designation': 'student',
  'salary': 'none'}}

In [9]:
university['stu001']
# or issi chiz ko aise bhi kr skte haii
university.get('website')

In [10]:
if 'website' in university:
    print('wesite exists in dict')

In [11]:
print(university.keys())
print(university.values())

dict_keys(['stu001', 'stu002', 'total_stu', 'department', 'vacancy', 'name', 'stu003'])
dict_values([{'name': "'lakshmi priya", 'designation': 'Student', 'Salary': 'None'}, {'name': 'Rinni singh', 'designation': 'student', 'salary': 'none'}, 10, 'education', ['computer department', 'financial', 'sports'], 'Shri ramswroop', {'name': 'Aakarsh singh', 'designation': 'student', 'salary': 'none'}])

In [12]:
print(university.items())# items se pairs aate haii

dict_items([('stu001', {'name': "'lakshmi priya", 'designation': 'Student', 'Salary': 'None'}), ('stu002', {'name': 'Rinni singh', 'designation': 'student', 'salary': 'none'}), ('total_stu', 10), ('department', 'education'), ('vacancy', ['computer department', 'financial', 'sports']), ('name', 'Shri ramswroop'), ('stu003', {'name': 'Aakarsh singh', 'designation': 'student', 'salary': 'none'})])

In [13]:
for i in university:
    print(university[i])

{'name': "'lakshmi priya", 'designation': 'Student', 'Salary': 'None'}
{'name': 'Rinni singh', 'designation': 'student', 'salary': 'none'}
10
education
['computer department', 'financial', 'sports']
Shri ramswroop
{'name': 'Aakarsh singh', 'designation': 'student', 'salary': 'none'}

In [14]:
for i in university:
    print(i,university[i])

stu001 {'name': "'lakshmi priya", 'designation': 'Student', 'Salary': 'None'}
stu002 {'name': 'Rinni singh', 'designation': 'student', 'salary': 'none'}
total_stu 10
department education
vacancy ['computer department', 'financial', 'sports']
name Shri ramswroop
stu003 {'name': 'Aakarsh singh', 'designation': 'student', 'salary': 'none'}

In [15]:
for k,v in university.items(): # 18 wale ko hi krne ka aik or tarika
    print(k,v)

stu001 {'name': "'lakshmi priya", 'designation': 'Student', 'Salary': 'None'}
stu002 {'name': 'Rinni singh', 'designation': 'student', 'salary': 'none'}
total_stu 10
department education
vacancy ['computer department', 'financial', 'sports']
name Shri ramswroop
stu003 {'name': 'Aakarsh singh', 'designation': 'student', 'salary': 'none'}

In [16]:
for k,v in university.items():
    if isinstance(v,dict):
        print(k)
        for key, value in v.items():
            print("--->",key, value)
    else:
        print(k,v)

stu001
---> name 'lakshmi priya
---> designation Student
---> Salary None
stu002
---> name Rinni singh
---> designation student
---> salary none
total_stu 10
department education
vacancy ['computer department', 'financial', 'sports']
name Shri ramswroop
stu003
---> name Aakarsh singh
---> designation student
---> salary none

In [17]:
# wap to create a distionary which takes user input and stores the name of the item and its prize

In [2]:
dict={}
while True:
    a=(input('enter key'))
    b=(input('enter values'))
    
    dict[a] = b

In [3]:
dict

{'abc': '12', 'bhgf': '13'}