  *synatax*  
...  
def fun_name([parameters]):  
     statement 1  
     statement 2  
     ...  
     statment n  
     [return value]

Types of user defined functions  
1. Non-parameterized non returning function    
2. value returning functions  
3. parameterized function   
   - positional required arguments 
   - named arguments   
   - default arguments     
   - variable length arguments   
   - keyword arguments   
4. parameterized and value returning functions 
5. lamda functions

In [59]:
from random import random

In [60]:
random()

0.8144549014729022

In [61]:
def inspireMe():
    from random import choice
    q=[
        'The best way to predict the function is to invent it.',
        'The most important step is always the next step',
        'Hardwork beats talent',
        'Early to bed'
    ]
    return choice(q)

In [62]:
inspireMe()

'Early to bed'

In [63]:
def dicey():
    from random import randint
    return randint(1,6)

print(dicey())
print(dicey())
print(dicey())

2
3
6

In [64]:
roll = dicey()
print(roll)

3

In [65]:
dicey()+dicey()*5

27

In [66]:
def is_prime(num):
    
    for i in range(2,num):
        if num % i == 0:
            return False
    return True

In [67]:
is_prime(13)

True

In [68]:
def si(p,r,t):
    ans=p*r*t/100
    print("principle:",p)
    print("rate:",r)
    print("time:",t)
    print("simple intrest:", ans)

In [69]:
si(12000,5,10)

principle: 12000
rate: 5
time: 10
simple intrest: 6000.0

In [70]:
# wap to remove all the punctuation from the string provided by the user 
#hint  
# from string import punctuationss

In [71]:
from string import punctuation
def clean_punc(data):
    for p in punctuation:
        data = data.replace(p," ")
    return data    
data = '#@$^h&i*&how^#are%y@'
clean_punc(data)

'    h i  how  are y '

In [72]:
def summer(x:int,y:int,z:int)->int:
    '''A function that returns that sum of x , y and z '''
    return x+y+z

In [73]:
def summer(x,y,z):
    return x+y+z

In [74]:
print(summer(10, 20, 30))
print(summer(x=10,y=20,z=30))# named parameters

60
60

In [75]:
a=int(input("enter a value:"))
b=int(input("enter a value:"))
c=int(input("enter a value:"))
ans= summer(x=a,y=b,z=c)
print(ans)

113

In [76]:
summer(y=10,x=20,z=30)

60

In [77]:
def multiplier(a,b=1,c=1,d=1):
    return a*b*c*d


print(multiplier(10))
print(multiplier(10,b=2))
print(multiplier(10,3))   
print(multiplier(10,d=10,c=20,b=30))

10
20
30
60000

In [78]:
#adding * to a parameters makes it a tuple  object - variable length arguments
def multiplier(*nums):
    result = 1
    for num in nums:
        result *= num
    return result

#use
print(multiplier())        
print(multiplier(10))
print(multiplier(10,20))
print(multiplier(10,2,3,1,2,4,5))
print(multiplier(10,2,3,3,4,3,4,5,3,2,4,6,7,8,8,5,6,7,8,7,))

1
10
200
2400
32774160384000

In [79]:
# variable length keyword arguments

In [80]:
def msg(**kwargs):
    for k,v in kwargs.items():
        print(k,v)



msg(a='this', b='that', c='the other')

a this
b that
c the other

In [81]:
# records
def student_records(**students):
    with open('records.txt','a') as file:
        file.write('student details\n')
        for k,v in students.items():
            file.write(f'{k} : {v}\n')
        file.write('\n') 
    return 'Records saved successfully'


student_records(
    alex=87,
    arum=59,
    rakesh=92,
    suresh=99,
    brijesh=67
)

'Records saved successfully'

In [82]:
student_records(
    ali=59,
    ansh=64,
    anmol=70,
)

'Records saved successfully'

In [89]:
'f(x)=x**2 + x*10 + x'
'g(x,y)=x**y + y**2 + x*y'
'f(2)'
'f(3)'

'f(3)'

In [84]:
3**3+3*10+2

59

In [93]:
f = lambda x:x**2 + x*10 + x
g = lambda x,y: x**2+y**2+x*2
print(f(3))
print(f(4))
print(f(5))
print(g(3,4))
print(g(4,5))

42
60
80
31
49

In [95]:
data = [12,4,6,7,30,56,89]
data2=[]
for val in data:
    data2.append(f(val))
print(data2)

[276, 60, 102, 126, 1230, 3752, 8900]

In [97]:
data = [12,4,6,7,30,56,89]
data2 = list(map(f,data))
print(data2)

[276, 60, 102, 126, 1230, 3752, 8900]