#LIST   
- INDEXED,ORDERED,*MUTABLE*,ALLOWS DUBLICATE ELEMENTS  
- HETROGENOUS,'[ ],'list()'   

# TUPLE   

-INDEXED,ORDERED,*IMMUTABLE*,ALLOWS DUBLICATE ELEMENTS , HETROGENOUS ,'( )','tuple()'

# SET

*UNORDERED*, *MUTABLE*,DOES NOT ALLOW DUBLICATE ELEMENT , HETROGENOUS, '{ }' , 'set()'

# DISTIONARY  

*UNORDERED *,* MUTABLE* DOES NOT ALLOW DUBLICATION HETROGENOUS,KEY:Value pairs,{ }, 'dict()'

#list  
- creating
- indexing and slicing  
- methods (11 methods)
 - list comprehension

In [17]:
x = [1,2,3,4,5]
names=['laksh','priya','soo','maa']
mix=[1,'laksh',3.14,'true']
nested=[[1,2,3],[4,5,6],[7,8,9]]
mt=[]
cloned=[1,2,3]*5#repeat list 5 times
words='this is sparta'.split()
chars=list('alexander')

In [6]:
print(x[0])
print(x[-1])
x[0]=100 # updating values at index 0
print(x[0])

100
5
100

In [7]:
chars[:5]

['a', 'l', 'e', 'x', 'a']

In [9]:
chars[::-1]

['r', 'e', 'd', 'n', 'a', 'x', 'e', 'l', 'a']

In [1]:
print() #this is a function , functions can be directly accesed

In [12]:
x.append #this is a method , methods are linked to a variable

- adding  
     - append()  -  adds an element to the end of the list  
     - extend()  -  adds all element  of one list to another list 
     - insert()  -  adds elements at a specific index 
-  removing 
     - remove()  -
     - pop()     -
     - clear()   -
- utility 
     - count()  
     -inex()  
     - sort()  
     -reverse()  
     -copy()

In [13]:
x.append(6)

In [16]:
x.append(3)
print(x)

[100, 2, 3, 4, 5, 6, 3, 3, 3]

In [17]:
a = [11,12,13]
x.extend(a)
print(x)

[100, 2, 3, 4, 5, 6, 3, 3, 3, 11, 12, 13]

In [21]:
x.insert(5,100)
x.insert(6,500)
print(x)

[100, 2, 3, 4, 5, 100, 500, 6, 3, 3, 3, 11, 12, 13]

In [2]:
udata=[]
for s in range(10):
    x=input('enter something:')
    udata.append(x)
print(udata)

['8', '7', '8', '7', '8', '7', '8', '7', '8', '7']

In [4]:
if '8' in udata:
    udata.remove('8')
print(udata)

['7', '8', '7', '8', '7', '8', '7', '8', '7']

In [5]:
udata.remove('9')if '9' in udata else print('9 not found')

9 not found

In [10]:
x= [1,2,3,4,5]
print(x.pop())
print(x.pop(2))  #opposite of pop is insert and opposite of remove is append

5
3

In [11]:
udata.clear()
print(udata)

[]

In [12]:
del x

In [14]:
a=[1,2,3,4,1,1,1,1,1]
a.count(1)

6

In [18]:
#sort only works with same data types 
names.sort()
print(names)

['laksh', 'maa', 'priya', 'soo']

In [22]:
ord('m')

109

In [30]:
l=[]
num=int(input('enter something'))
i=0
b=1
n=0
print('enter number',num)
while n <=num:
    i=b
    b=n
    n=i+b
    l.append(n)
print(l)

enter number 24
[1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
x=[0,1]
x=[0,1,1]
x=[0,1,1,2]

In [32]:
a=[0,1]
for i in range(10):
    a.append(a[-2]+a[-1])
print(a)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [33]:
#comprehension....

In [1]:
x = [1,2,3,4,5]
x2=[]
for i in x:
    s = i**2
    x2.append(s)
print(x)
print(x2)

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]

In [9]:
name=['soo bhai','sakshi gadhi','sangita maa','surili koi']
fnames=[]
for nm in name:
    fnames.append(nm.split()[0]) # split is only applicable in string values
print(fnames)

['soo', 'sakshi', 'sangita', 'surili']

In [6]:
s=[1,2,3,4,5,6,7,8,9]
even=[]
for nm in s:
    if nm % 2==0:
        even.append(nm)
print(even)

[2, 4, 6, 8]

newlist=[expression for item in iterable if condition == true]  
newlist=[operation loop]

In [10]:
x2=[ i ** 2 for i in x]
print(x2)

[1, 4, 9, 16, 25]

In [12]:
lnames = [nm.split()[-1]for nm in name]
print(lnames)

['bhai', 'gadhi', 'maa', 'koi']

In [13]:
x = [1,2,3,4,5,6,7,8,9,10,11,12]
xevens=[i for i in x if i % 2 == 0]
print(xevens)

[2, 4, 6, 8, 10, 12]

In [2]:
#filter
x = ['1','2','3','','5','6','','10']
x_clean=[int(i)for i in x if i.isnumeric()]
print(x_clean)

[1, 2, 3, 5, 6, 10]

In [4]:
files = ['1.jpg','3.png','2.jpg','4.tif','5.jpg','10.jpj']
jpg_files=[file for file in files if file.endswith('.jpg')]
png_files=[file for file in files if file.endswith('.png')]
print(jpg_files)
print(png_files)

['1.jpg', '2.jpg', '5.jpg']
['3.png']

In [10]:
x=[1,2,3,4,5]

In [12]:
[i**3 for i in x if i%2!=0]

[1, 27, 125]

# list practice questions

In [5]:
data=[]
for s in range(10):
    x=input('enter something:')
    data.append(x)
print(data)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '9']

In [6]:

x=[1,2,3,4,5]

In [8]:
for s in range(1):
    x=input('enter something:')
    if s>=5:
        print('valid statement')
    else:
        print('not valid')

not valid

In [12]:
y=['la','aa','ba']

In [13]:
y.sort()
print(y)

['aa', 'ba', 'la']

In [24]:
x=[1,2,3]
y=[2,3,4]
s=[]
for i in x:
    for j in y:
        if i==j:
            s.append(i)
print(s)

[2, 3]

In [36]:
x=[1]
max=x[0]
for s in x:
    X=input('enter something:')
    x.append(X)
    if X>=x[s]:
        max=X
        print('maximum', max)
        break
    else:
        print('not maximum')

maximum 4

In [45]:
x=['lakshmi','priya']
print(x.pop())

priya

In [62]:
x=[[1,2],[3,2],[4,2]]
x[:1]

[[1, 2]]