#LIST   
- INDEXED,ORDERED,*MUTABLE*,ALLOWS DUBLICATE ELEMENTS  
- HETROGENOUS,'[ ],'list()'   

# TUPLE   

-INDEXED,ORDERED,*IMMUTABLE*,ALLOWS DUBLICATE ELEMENTS , HETROGENOUS ,'( )','tuple()'

# SET

*UNORDERED*, *MUTABLE*,DOES NOT ALLOW DUBLICATE ELEMENT , HETROGENOUS, '{ }' , 'set()'

# DISTIONARY  

*UNORDERED *,* MUTABLE* DOES NOT ALLOW DUBLICATION HETROGENOUS,KEY:Value pairs,{ }, 'dict()'

#list  
- creating
- indexing and slicing  
- methods (11 methods)
 - list comprehension

In [17]:
x = [1,2,3,4,5]
names=['laksh','priya','soo','maa']
mix=[1,'laksh',3.14,'true']
nested=[[1,2,3],[4,5,6],[7,8,9]]
mt=[]
cloned=[1,2,3]*5#repeat list 5 times
words='this is sparta'.split()
chars=list('alexander')

In [6]:
print(x[0])
print(x[-1])
x[0]=100 # updating values at index 0
print(x[0])

100
5
100

In [7]:
chars[:5]

['a', 'l', 'e', 'x', 'a']

In [9]:
chars[::-1]

['r', 'e', 'd', 'n', 'a', 'x', 'e', 'l', 'a']

In [11]:
print() #this is a finction , functions can be directly accesed

In [12]:
x.append #this is a method , methods are linked to a variable

- adding  
     - append()  -  adds an element to the end of the list  
     - extend()  -  adds all element  of one list to another list 
     - insert()  -  adds elements at a specific index 
-  removing 
     - remove()  -
     - pop()     -
     - clear()   -
- utility 
     - count()  
     -inex()  
     - sort()  
     -reverse()  
     -copy()

In [13]:
x.append(6)

In [16]:
x.append(3)
print(x)

[100, 2, 3, 4, 5, 6, 3, 3, 3]

In [17]:
a = [11,12,13]
x.extend(a)
print(x)

[100, 2, 3, 4, 5, 6, 3, 3, 3, 11, 12, 13]

In [21]:
x.insert(5,100)
x.insert(6,500)
print(x)

[100, 2, 3, 4, 5, 100, 500, 6, 3, 3, 3, 11, 12, 13]

In [1]:
udata=[]
for s in range(10):
    x=input('enter something:')
    udata.append(x)
print(udata)

['', '6', '5', '4', '3', '2', '1,2,3,4,5,6,7,8,9,10', '1', '2', '4']

In [4]:
if '5' in udata:
    udata.remove('5')
print(udata)

['', '6', '4', '3', '2', '1,2,3,4,5,6,7,8,9,10', '1', '2', '4']

In [7]:
udata.remove('9')if '9' in udata else print('9 not found')

9 not found

In [10]:
x= [1,2,3,4,5]
print(x.pop())
print(x.pop(2))  #opposite of pop is insert and opposite of remove is append

5
3

In [11]:
udata.clear()
print(udata)

[]

In [12]:
del x

In [14]:
a=[1,2,3,4,1,1,1,1,1]
a.count(1)

6

In [18]:
#sort only works with same data types 
names.sort()
print(names)

['laksh', 'maa', 'priya', 'soo']

In [22]:
ord('m')

109

In [30]:
l=[]
num=int(input('enter something'))
i=0
b=1
n=0
print('enter number',num)
while n <=num:
    i=b
    b=n
    n=i+b
    l.append(n)
print(l)

enter number 24
[1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
x=[0,1]
x=[0,1,1]
x=[0,1,1,2]

In [32]:
a=[0,1]
for i in range(10):
    a.append(a[-2]+a[-1])
print(a)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [33]:
#comprehension....