FOR

In [2]:
nums=[1,23,5,6,21,6,6]#list of numbers
for i in nums:
    print(i)
    print(i**2)

1
1
23
529
5
25
6
36
21
441
6
36
6
36

In [5]:
nums=[1,23,5,6,3,6,21,6,6]
for i in nums:
    print(i ** 2)

1
529
25
36
9
36
441
36
36

In [7]:
nums=[1,23,5,6,3,6,21,6,6]
for i in [1,32,23,5,6]:
    print(i ** 2)

1
1024
529
25
36

In [8]:
names=['John','Jane','Jack','Jill']
for name in enumerate(names):
    print(name)

(0, 'John')
(1, 'Jane')
(2, 'Jack')
(3, 'Jill')

In [9]:
names=['John','Jane','Jack','Jill']
for name in (names):
    print(name)

John
Jane
Jack
Jill

In [10]:
names=['John','Jane','Jack','Jill']
for idx, name in enumerate(names):
    print(name , idx)

John 0
Jane 1
Jack 2
Jill 3

In [12]:
x=[2,4,6,8,10]
y=[1,3,5,7,9]
z=[3,6,9,12,15]
for i,j ,k in zip(x,y,z):
    print(i*j+k)

5
18
39
68
105

In [14]:
movies=['Intersteller','The Martian','Gravity']
rating=[8.6,8.0,7.7]

for name , star in zip(movies, rating):
    print(f'{name:20}{star}ðŸŒŸ')

Intersteller        8.6ðŸŒŸ
The Martian         8.0ðŸŒŸ
Gravity             7.7ðŸŒŸ

In [9]:
start=0
end=50
print('prime numbers',start,'and',end,':')
for num in range(start,end+1):
    if num>1:
        for i in range(2,num):
            if(num%i)==0:
                break
        else:
            print(num)

prime numbers 0 and 50 :
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [6]:
x=[1, 2, 2, 3 , 2 , 2 , 1 , 2 , 2 , 3 , 0 , 4, 5 , 1 , 2 , 4 , 5,]
for i in x:
    if i ==0:
        break
    print(i,end=' ')

1 2 2 3 2 2 1 2 2 3

In [7]:
x=[3,2,2,1,2,5,6,7,3,1,2,2]
for i in x:
    if i ==0:
        break
    print(i,end=' ')
else:
    print(' loop completed')

3 2 2 1 2 5 6 7 3 1 2 2  loop completed

In [11]:
num=7
for i in range(2, num):
    if num % i == 0:
        print('Not prime')
        break
else:
    print('Prime')

Prime

In [13]:
num=int(input('enter a number:'))

for i in range(2, num):
    print(f'{num}%{i}={num%i}')
    if num % i == 0:
        print('Not prime')
        break
else:
    print('Prime')

15%2=1
15%3=0
Not prime

In [14]:
x=[1,2,3,None,5,1,None,2,23,None,3,1,2,2,3,None,3]
for num in x:
    if num is None:
        continue
    print(num,end=' ')

1 2 3 5 1 2 23 3 1 2 2 3 3

In [16]:
for num in x:
    if num is not  None:
        print(num,end=' ')

1 2 3 5 1 2 23 3 1 2 2 3 3

In [30]:

odd_sum=0
for num in x:
    if num is not None and num%2!=0:
        odd_sum += num
print(odd_sum)

43

INFINITE  LOOP

In [32]:
while True:
    user = input('enter username:')
    password = input(' enter password:')
    if user == 'admin':
        if password=='secret':
            print('welcome')
            break
        else:
            print('wrong password')
    else:
        print('wrong username')

wrong username
wrong username
welcome

DATASTRUCTURES IN PYTHON  


1 STRING  
2 LIST  
3 TUPLE  
4 SET  
5 DICITIONARY