FOR

In [2]:
nums=[1,23,5,6,21,6,6]#list of numbers
for i in nums:
    print(i)
    print(i**2)

1
1
23
529
5
25
6
36
21
441
6
36
6
36

In [5]:
nums=[1,23,5,6,3,6,21,6,6]
for i in nums:
    print(i ** 2)

1
529
25
36
9
36
441
36
36

In [7]:
nums=[1,23,5,6,3,6,21,6,6]
for i in [1,32,23,5,6]:
    print(i ** 2)

1
1024
529
25
36

In [8]:
names=['John','Jane','Jack','Jill']
for name in enumerate(names):
    print(name)

(0, 'John')
(1, 'Jane')
(2, 'Jack')
(3, 'Jill')

In [9]:
names=['John','Jane','Jack','Jill']
for name in (names):
    print(name)

John
Jane
Jack
Jill

In [10]:
names=['John','Jane','Jack','Jill']
for idx, name in enumerate(names):
    print(name , idx)

John 0
Jane 1
Jack 2
Jill 3

In [12]:
x=[2,4,6,8,10]
y=[1,3,5,7,9]
z=[3,6,9,12,15]
for i,j ,k in zip(x,y,z):
    print(i*j+k)

5
18
39
68
105

In [14]:
movies=['Intersteller','The Martian','Gravity']
rating=[8.6,8.0,7.7]

for name , star in zip(movies, rating):
    print(f'{name:20}{star}ðŸŒŸ')

Intersteller        8.6ðŸŒŸ
The Martian         8.0ðŸŒŸ
Gravity             7.7ðŸŒŸ