TUPLE

In [1]:
x=(1,2,3,4)
print(x,type(x))

(1, 2, 3, 4) <class 'tuple'>

In [3]:
#default data structure of python is tuple
y=1,2,3,4,5 # tuple packing

In [5]:
a = () # empty tuple is possible but not used

In [6]:
z= (2,4,5)

In [7]:
a,b,c =z # tuple unpacking

In [8]:
x=(1,2,3,4,5,6,7,8,9,10)

In [10]:
y=x
y

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [12]:
y,*z = x # tuple unpacking
print(y,z)
a,b,c,*d = x
print(a,b,c,d)
a,*b,c,d = x
print(a,b,c,d)

1 [2, 3, 4, 5, 6, 7, 8, 9, 10]
1 2 3 [4, 5, 6, 7, 8, 9, 10]
1 [2, 3, 4, 5, 6, 7, 8] 9 10

In [15]:
x = (1,2,2,2,1,1,1,2,2,2,2,1,1,23)
print(x.count(2))
print(x.count(1))
print(x.index(2))

7
6
1

In [16]:
x1=list(x)
xt=tuple(x1)
print(x1,xt)

[1, 2, 2, 2, 1, 1, 1, 2, 2, 2, 2, 1, 1, 23] (1, 2, 2, 2, 1, 1, 1, 2, 2, 2, 2, 1, 1, 23)

In [18]:
x[-1]#slicing can be done

23

TUPLES ARE FASTER THAN LIST BECAUSE THE VALUES ARE NOT CHANGED HERE

SET

In [19]:
a={1,2,3,1,2,3}
print(a,type(a))

{1, 2, 3} <class 'set'>

In [20]:
a.add(10)
a.add(3)
a.add(6)
print(a)

{1, 2, 3, 6, 10}

In [21]:
a.discard(2)
a.discard(10)
print(a)

{1, 3, 6}

In [22]:
x= {1,2,3,4,5}
y={4,5,6,7,8}
z={1,2,3}
a={11,12,13}

In [23]:
a.union(x)

{1, 2, 3, 4, 5, 11, 12, 13}

In [26]:
y.union(x) # or x|y
x.union(y)

{1, 2, 3, 4, 5, 6, 7, 8}

In [32]:
x|y

{1, 2, 3, 4, 5, 6, 7, 8}

In [28]:
x.intersection(y) # or x & y

{4, 5}

In [31]:
x.difference(y) # or x - y
y.difference(x) # or y - x

{6, 7, 8}

In [43]:
x.symmetric_difference(y) or x^ y

{1, 2, 3, 6, 7, 8}

In [40]:
x^y

{1, 2, 3, 6, 7, 8}

In [34]:
z.issubset(x) # or z <= x

True

In [38]:
z<=x

True

In [36]:
x.issuperset(a) # or x >= z

False

In [39]:
x>=z

True

In [37]:
x.isdisjoint(a)

True

In [41]:
# slicing is not possible 
# loops can work here

In [42]:
for i in x:
    print(x)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}